.btn-primary {
  background: var(--color-brown);
  color: var(--color-white);
  font-size: 14px;
}

.btn-secondary {
  background: var(--color-white);
  color: var(--color-brown);
  font-size: 14px;
}

.btn-shadow {
  padding: 0px;
  font-size: 14px;
}